<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="https://www.carbo-vit.com/imagenes/jjhumus.png" alt="Logo">
    </div>

    <div class="footer-contact">
      <p><strong>Teléfono:</strong> 📞 <a href="tel:840-012-3456">840-012-3456</a></p>
      <p><strong>WhatsApp:</strong> 📞 <a href="https://wa.me/523111416824">+52 (311) 141 6824</a></p>
      <p><strong>Email:</strong> ✉️ <a class="email" href="mailto:contacto&#64;carbo-vit.com">
          contacto&#64;carbo-vit.com</a></p>
      <p><strong>Dirección:</strong> Construcciones SM entre Av. Las Torres y niños obreros</p>
    </div>

    <div class="footer-links">
      <h4>Ayuda</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contactános</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Otros</h4>
      <ul>
        <li><a href="#">Políticas de compra</a></li>
        <li><a href="#">Políticas de envio</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <a target="_blank" href="https://www.facebook.com/humus.carbo.vit"><img
          src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" alt="Facebook"></a>
      <a target="_blank"
        href="https://www.instagram.com/jjhumusmex?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img
          src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" alt="Instagram"></a>
    </div>
  </div>
</footer>