<section>
    <div class="product-container">
        <div class="product-info">
            <h1> Carbo - Vit </h1>
            <h2> Inforamción General </h2>
            <p>Es un nutriente orgánico líquido elaborado con procedimientos exclusivos de avanzada tecnología.
                Se obtiene a partir de oxidaciones y fermentaciones aerobias y anaerobias de materiales orgánicos
                vegetales.
                Esta compuesto por humus líquido confiriéndole al producto todas las propiedades atribuidas a las
                sustancias húmicas,
                las cuales favorecen que los nutrientes sean absorbidos mas fácilmente por el fitoplancton, base de la
                cadena alimenticia de nuestros sistemas acuícolas.
                Es un producto orgánico totalmente estable, ya que enlaza los macro y micro nutrientes de forma natural
                con las fracciones del humus,
                favoreciendo su absorción por el fitoplancton y así consiguiendo un equilibrio ecológico de nuestra
                flora y fauna bentónica en
                nuestros estanques de cultivo.
            </p>
            <app-accordion title="Beneficios">
                <ul class="list-disc pl-6 text-gray-700 text-sm">
                    <li>Aumenta la cantidad de calcio disponible en la columna de agua, el cual es parte principal en la
                        formación del exoesqueleto de los crustáceos y huesos de peces.
                    </li>
                    <li>Es un excelente precursor de fitobentos en los fondos de estanque, los cuales son una fuente
                        rica en proteínas asimilables y alimento natural para nuestros organismos cultivados.
                    </li>
                    <li>Disminuye la mortalidad de las especies cultivadas en las primeras
                        etapas del cultivo y reduce el número de días del ciclo del mismo,
                        alcanzando mejores tallas y uniformidad de crecimiento.
                    </li>
                    <li>Aumenta la disponibilidad y asimilación de nutrientes y minerales traza disueltos en la columna
                        de agua que son absorbidos por las branquias y tracto digestivo de los organismos cultivados.
                    </li>
                    <li>
                        Actúa como un bio-regulador de nutrientes dentro del estanque
                        debido a sus características húmicas equilibrando la productividad
                        natural base de la cadena alimenticia del ciclo de cultivo.
                    </li>
                    <li>
                        Interviene en la fotosíntesis del fitoplancton acelerando su desarrollo y acortando su fase
                        inicial de crecimiento en el ciclo de cultivo.
                    </li>
                    <li>
                        Actúa directamente sobre la estructura vegetal desarrollando entre
                        otras estructuras aminoácidos, péptidos y polipéptidos, que son
                        absorbidos por nuestros organismos cultivados.
                    </li>
                    <li>
                        Desarrolla en el fondo del estanque microorganismos benéficos,
                        transformando la materia orgánica en forma amónica y ésta a su vez en nítrica, manteniendo de
                        esta forma fondos mas limpios durante el ciclo de cultivo.
                    </li>
                    <li>
                        Confiere al suelo una mayor esponjosidad que ofrece niveles óptimos de drenaje y condiciones
                        aeróbicas propicios para un ambiente sano y
                        libre de patógenos y enfermedades.
                    </li>
                    <li>
                        Aumenta la capacidad de intercambio catiónico entre el fondo del estanque y la columna de agua,
                        lo cual favorece la asimilación de los nutrientes por el fitoplancton.
                    </li>
                </ul>
            </app-accordion>
            <app-accordion title="Análisis de Composición">
                <p>Ácido Fúlvico6.0 % <br>
                    Calcio con Ión (Ca2+)18 % <br>
                    Calcio(CaO)25 % <br>
                    Nitrógeno Total6.8 % <br>
                    Fósforo (P2O5)3.13 % <br>
                    Potasio soluble (K2O)2.7 %</p>
            </app-accordion>
            <app-accordion title="Otras Especificaiones">
                <h3>Potenciador</h3>
                <p>Potenciador de fertilizantes químicos, granulados y líquidos. <br>
                    Potenciador de foliares y micro elementos. <br>
                    Potenciador de la disponibilidad de nutrientes, agua y oxigenación. <br>
                    Potenciador de fungicidas, bactericidas e insecticidas. <br> <br>
                </p>
                <h3>Dosificaciones Generales</h3>
                <p>
                    Aplicaciones al suelo: <br>
                    Dosis de choque: 5 a 8 Lts/Ha. <br>
                    Dosis de mantenimiento: de 3 a 5 Lts/Ha por riego. <br>
                    Nota: Se recomienda realizarlas junto ó ligeramente después de la fertilizacion mineral. <br>
                    Aplicación Foliar: 3 a 5 Lts/Ha.
                </p>
            </app-accordion>
        </div>
        <div class="product-img">
            <img src="https://www.carbo-vit.com/imagenes/carbovit.png" 
            alt="Carbo-Vit">
        </div>
    </div>
    <app-contact-us></app-contact-us>
</section>