<section class="hero">
  <div class="hero-grid">
    <!-- Primera mitad: Imagen -->
    <div class="hero-image">
      <img
        src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/494136677_1212047977595501_8106814562828028655_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_ohc=CQ4GDxw59DMQ7kNvwEynl_i&_nc_oc=AdlpzNbW04jThbfM9S2Dm8tkSyfVwyhdijnwcSGDZt-zIpVbJ3nPNCFDonAFW1iw6XQuMAEN8bpJS-yMbY7RbxmZ&_nc_zt=23&_nc_ht=scontent-qro1-2.xx&_nc_gid=gaoXtSj-C77TWHUc9wLC5g&oh=00_AfIo4g9HKw1y_LzBrLvoFviZg6ZIh4Q4CT3zQpDG5DLWow&oe=68424E5E"
        alt="JJ Humus">
    </div>
    <!-- Segunda mitad: Información de la empresa -->
    <div class="hero-content">
      <h1 class="title">Bienvenido a <span class="highlight">JJ Humus</span></h1>
      <p class="description">
        Somos una empresa Nayarita con más de 35 años de experiencia en el
        ramo agrícola, dedicados a la investigación, fabricación y
        comercialización de fertilizantes orgánicos y organominerales para
        todo tipo de cultivos.
      </p>
      <p class="description">
        Nos definimos por la dedicación al servicio de la agricultura, con
        productos de primera calidad, formulados por un gran equipo de
        investigadores, químicos y técnicos que nos respaldan.
      </p>
      <button mat-raised-button color="primary" class="gen-title-button">Contactarnos</button>
    </div>
  </div>
</section>