<section class="hero">
  <div class="hero-grid">
    <!-- Primera mitad: Imagen -->
    <div class="hero-image">
      <img
        src="https://i.pinimg.com/736x/0e/74/c9/0e74c96ba6a566872e7c7dd16d04ffff.jpg"
        alt="JJ Humus">
    </div>

    <!-- Segunda mitad: Información de la empresa -->
    <div class="hero-content">
      <h1 class="title">Bienvenido a <span class="highlight">JJ Humus</span></h1>
      <p class="description">
        Somos una empresa Nayarita con más de 35 años de experiencia en el
        ramo agrícola, dedicados a la investigación, fabricación y
        comercialización de fertilizantes orgánicos y organominerales para
        todo tipo de cultivos.
      </p>
      <p class="description">
        Nos definimos por la dedicación al servicio de la agricultura, con
        productos de primera calidad, formulados por un gran equipo de
        investigadores, químicos y técnicos que nos respaldan.
      </p>
      <button mat-raised-button color="primary" class="gen-title-button">Contactarnos</button>
    </div>
  </div>
</section>