.hero {
    background: url('https://images.unsplash.com/photo-1560493676-04071c5f467b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover;
    text-align: center;
    padding: 100px 20px;
    color: black;
}

.title{
    font-size: 40px;
}

.sub-title{
    font-size: 25px;
    font-weight: 550;
}


.hero h1 span {
    color: #ff0000;
}