<section class="hero">
  <div class="hero-grid">
    <!-- Primera mitad: Imagen -->
    <div class="hero-image">
      <img
        src="https://scontent.ftpq1-1.fna.fbcdn.net/v/t39.30808-6/472251681_10237299443770700_2946114468176623591_n.png?stp=dst-jpg_tt6&_nc_cat=101&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=P3VEexc8VnAQ7kNvgFxVYkI&_nc_oc=AdhMbaY45N6z8y7byqkoPwDLh44_rchRX-mNkjfE0iGbA49QBzoYWILOdmKMTWdcSCo&_nc_zt=23&_nc_ht=scontent.ftpq1-1.fna&_nc_gid=A3AAmz1PvSn86SrHzC9PS9X&oh=00_AYB07yFnK9cH7VCnY0g39BGLbLRyWV4SQdjt0B0Yh-8gnw&oe=67B99100"
        alt="JJ Humus">
    </div>

    <!-- Segunda mitad: Información de la empresa -->
    <div class="hero-content">
      <h1 class="title">Bienvenido a <span class="highlight">JJ Humus</span></h1>
      <p class="description">
        Somos una empresa Nayarita con más de 35 años de experiencia en el
        ramo agrícola, dedicados a la investigación, fabricación y
        comercialización de fertilizantes orgánicos y organominerales para
        todo tipo de cultivos.
      </p>
      <p class="description">
        Nos definimos por la dedicación al servicio de la agricultura, con
        productos de primera calidad, formulados por un gran equipo de
        investigadores, químicos y técnicos que nos respaldan.
      </p>
      <button mat-raised-button color="primary" class="gen-title-button">Contactarnos</button>
    </div>
  </div>
</section>