<section class="categories">
  <mat-card class="category-card" [ngStyle]="{'background-image': 'url(https://i.scdn.co/image/ab6761610000e5ebba025c8f62612b2ca6bfa375)'}">
    <span class="category-label">Agrícolas</span>
  </mat-card>

  <mat-card class="category-card" [ngStyle]="{'background-image': 'url(https://scontent.ftpq1-1.fna.fbcdn.net/v/t39.30808-6/237218802_2340036869464978_813472893692232845_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=a5HEx-EZBt0Q7kNvgHuj1P7&_nc_oc=AdjSGTUE82XRhGJQcAkULpqJSz5w7_5LzwHm6jwWRcYVGR8sLXeqSd6h6Rl9BGrHdUY&_nc_zt=23&_nc_ht=scontent.ftpq1-1.fna&_nc_gid=AenDYkcTgIv8kk3Qmfb9q-c&oh=00_AYDUawI8EJPVsx6TaFTc832-vw3Wimet7hRWHBMWVGxkcA&oe=67B34642)'}">
    <span class="category-label">Acuacultura</span>
  </mat-card>
</section>