/* products.component.css */
.product-section {
  background-color: #f8f8f8;
  font-family: sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-header {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto 40px auto;
}

.product-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.product-header p {
  font-size: 18px;
  color: #333;
}

.product-container {
  padding: 50px 0px 50px 0px;
  display: flex;
  gap: 40px;
  margin: 0 auto;
}

/* Responsivo */
@media (max-width: 900px) {
  .product-container {
    flex-direction: column;
  }

  .filters {
    max-width: 100%;
  }
}