.Contenedor {
    display: flex;
    box-sizing: border-box; /* Esto es muy importante, ahora te explico */
    padding: 10px;
}

.Div-Izq {
    width: 30%;
    background-color: antiquewhite;

}

.Div-Der {
    width: 70%;
    background-color: peru;
}

img {
    size: 50px;
}