<section>
  <div class="company-info info-separator">
  <div class="company-grid-content">
    <div class="company-image">
      <img
        src="https://scontent.ftpq1-1.fna.fbcdn.net/v/t39.30808-6/489482869_1188376186629347_8218048157103659037_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_ohc=ESgpdoc-1P8Q7kNvwGAufJH&_nc_oc=AdlqzSFukT6Zg6I7ldjXrLkQmj6YlPVybn7jZxdLo6dOu65Q7VHnczubGSgLmbpc63g&_nc_zt=23&_nc_ht=scontent.ftpq1-1.fna&_nc_gid=kBuyRwPgpOup-Cfkk65idw&oh=00_AfH7Fsr5MnxQuOyykM_KVRVoS2WBFUmUDX8SUB06K4C6pg&oe=680E2000"
        alt="JJ Humus Nosotros">
    </div>

    <div class="company-info-content">
      <h1 class="title">¿Quiénes somos?</h1>
      <p class="comapny-info-description">Somos una empresa mexicana con amplia experiencia en el sector agrícola
        dedicada a la investigación, fabricación y
        comercialización de fertilizantes orgánicos y orgánico minerales con el mayor contenido de materia orgánica en
        el
        mercado.</p>
    </div>
  </div>
</div>

<!-- Definición de la empresa -->
<div class="company-definition-info">
  <div class="company-grid-content">
    <div class="company-info-content">
      <p class="comapny-info-description">
        Nos definimos por la dedicación al servicio de la agricultura, con productos de primera calidad, formulados por
        un
        gran equipo de investigadores, químicos y técnicos que nos respaldan.


        Nuestra línea de productos esta elaborada con alta tecnología, a base de carbones vegetales, además de
        enriquecerlos con minerales, para brindar una nutrición balanceada a los cultivos.</p>
    </div>
    <div class="content-image">
      <img src="https://www.carbo-vit.com/imagenes/nosotrostop.png" alt="Plato verduras">
    </div>
  </div>
</div>

<!-- Espacio por si ponen la hostoria, trabaje con nosotros, etc -->

<!-- Misión y visión de la empresa -->
<div class="company-info-objectives info-separator">
  <div class="company-info-content">
    <h2 class="title">Objetivos</h2>
    <p class="comapny-info-description">Nuestro objetivo principal es elevar el potencial productivo de sus cultivos en
      campo, brindando una nutrición balanceada con productos de primera calidad y con alta tecnología de elaboración, a
      base de carbones vegetales, minerales, aminoácidos y complejos necesarios para la correcta nutrición, que
      coadyuvará en el incremento de sus rendimientos por unidad de superficie..</p>
  </div>
  <div class="company-info-content">
    <h2 class="title">Nuestra misión</h2>
    <p class="comapny-info-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorem numquam
      cumque voluptatibus placeat doloremque debitis cum at? Maxime ducimus quos sed sint fugit deserunt a consequatur
      maiores, voluptates quidem.</p>
  </div>
  <div class="company-info-content">
    <h2 class="title">Nuestra visión</h2>
    <p class="comapny-info-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus error, dolorum
      id ad officiis ea omnis perferendis magnam sapiente nesciunt commodi quos distinctio! Reprehenderit suscipit
      veritatis eligendi accusantium optio quam!.</p>
  </div>
</div>

<!-- Ubicación -->
<div class="company-info-location">
  <h2 class="title">Nuestra ubicación</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3712.756541719218!2d-104.84279958505971!3d21.478067285756723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842739fea5d81edf%3A0x3e36f64c3f75a03e!2sConstructores%2C+Sin+Referencia%2C+Tepic%2C+Nay.!5e0!3m2!1ses!2smx!4v1500934958987"
    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
</section>