<div class="product-grid w-full">
    <div class="product-card">
        <div class="image-placeholder"></div>
        <h4>Carbo - Vit</h4>
        <p>Es la esencia del humus en forma líquida que contiene el 62% de extracto húmico total...</p>
        <a href="#">Más información</a>
    </div>
    <div class="product-card">
        <div class="image-placeholder"></div>
        <h4>Vit-Amin</h4>
        <p>El Humofosfato de calcio en conjunto con el ion potasio realiza la producción de fitoalexina...</p>
        <a href="#">Más información</a>
    </div>
    <div class="product-card">
        <div class="image-placeholder"></div>
        <h4>Xurgén</h4>
        <p>Nutriente Bio Orgánico con alto contenido en aminoácidos y péptidos...</p>
        <a href="#">Más información</a>
    </div>
        <div class="product-card">
        <div class="image-placeholder"></div>
        <h4>Xurgén</h4>
        <p>Nutriente Bio Orgánico con alto contenido en aminoácidos y péptidos...</p>
        <a href="#">Más información</a>
    </div>
        <div class="product-card">
        <div class="image-placeholder"></div>
        <h4>Xurgén</h4>
        <p>Nutriente Bio Orgánico con alto contenido en aminoácidos y péptidos...</p>
        <a href="#">Más información</a>
    </div>
</div>